pyudev           # For USB detection on Linux
inotify_simple         # For real-time file access monitoring
psutil            # For system/user/process info
pyyaml            # For loading config/rule YAMLs
cryptography     # For AES-256 encryption
setuptools 
pycryptodome
wheel


#WARNING: For linux systems only (now: Xubuntu)
